.header{
    display: flex;
    left: 0px;
    width: 100%;
    background: white;
    flex-direction: row; 
    height: 60px;
    align-items: center;
    padding-left: 120px;
    top: 0px;
    position: fixed;
    z-index: 100;
}

.headerleft{
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 400px;
}


.head-input{
	margin-left: 10px;
	background: #eef3f8;
	display: flex;
	align-items: center;
	width: 200px;
	height: 30px;
	border-radius: 4px;
}

.material-symbols-outlined
{
	padding-left: 5px;
	width: 30px;
	height: 25px;
	opacity: 0.6;
}


.search{
	background:#eef3f8 ;
	border: none;
	width: 160px;
	height: 25px;
}

.search:palceholder{
	font-size: 20px;
	width: 18px;
}

.searcher{
	padding-left: 10px;
}


.headermid{
    width: 500px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    align-items: center;
    justify-content: center;
/*	background: lightpink;*/
	column-gap: 25px;

}
.hmid-icons{
     display: flex;
     width: 120px;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     opacity: 0.6;
}
.hmid-icons:hover{
	opacity: 1;
}

.head-text{
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
}
.head-texts{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	justify-content: bottom;
}
.hmid-iconme{
     display: flex;
     width: 120px;
     flex-direction: column;
     align-items: center;
     cursor: pointer;
     align-items: center;
     
}

.profileheader{
	border-radius: 15px;
	width: 24px;
	height: 24px;

}

.headerright{

	display: flex;
	flex-direction: column; 
	justify-content: left;
    flex: 1;
	border-left: 1px solid black;
	border-color: black;
}



.container{	
	flex: 1;
    padding-bottom: 300px;	
    margin-top: 60px;		
	padding-top: 30px;
    background-color: #F3F2EF;
	display: flex;
	height: 100%;
	flex-direction: row;
	padding-left:120px;
}

.left-container{
/*	background: lightblue;*/
	flex: 1;
	max-width: 220px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.right-container{
	background: lightblue;
	flex: 1;
}

.left-top{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
    background: white;
}

.left-top-top{
	position: relative;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left-top-top-bimage{
	width: 220px;
	position: relative;
}

.bimage{
    object-fit: cover;
    object-position: right;
	display: inline-block;
	border-radius: 10px 10px 0px 0px ; 
	max-width: 220px;
	height: 60px;
}

.left-top-top-pimage{
	position: absolute;
	top: 25px;

}

.pimage{
	width: 70px;
	height: 70px;
	border-radius: 35px;
	top: 40px;
}

.left-top-mid{
	margin-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.left-top-down:hover,left{
   background: #EBEBEB;
}


.left-top-down{
	padding-left: 20px;
	padding-top: 10px;
	display: flex;
	align-items: left;
	flex-direction: column;
	padding-bottom: 10px;
}

.pointsleftdown{
	padding-bottom: 5px;
}

.left-down{
	margin-top: 20px;
	border-radius: 10px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: left;
	background-color: white;
	padding-bottom: 10px;
}

.left-down-context{
	padding-bottom: 10px;
}

.left-points{
	padding-bottom: 4px;
}

.events{
	color: blue;
    cursor: pointer;
}

.left-down-events{
	padding-right: 30px;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.discover-more{
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.mid-container{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 30px;
	
}

.mid-top-top{
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.mid-top{
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 120px;
    background: white;
}

.mid-top-top-header{
	display: flex;
	flex-direction: row;
	flex: 1;
	min-width: 500px;
	align-items: center;
	justify-content: left;
}

.mid-top-img{
	 padding-left: 15px;
	 padding-right: 10px;
}

.mid-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.mid-container-search{
	padding-right: 20px;
	flex: 1;
}

.mid-search{
	width: 100%;
	height: 45px;
	border-radius: 50px;
	border:1px solid #B9B9B9;
	font-size: 15px;
	font-weight: 500;
	padding-left: 20px;
	cursor: pointer;
	transition: 1s;
}

.mid-search:hover{
	background: #EBEBEB;
}

.mid-top-down{
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.mid-text{
	padding-left: 5px;
	opacity: 0.7;
	font-size: 15px;
}
.mid-top-contents{
	border-radius: 3px;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
}
.mid-top-contents:hover{
	background: #EBEBEB;
}
.mid-contents{
	margin-top: 10px;
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 20px;
    align-items: center;
}

.pointsleftdown{
   padding-bottom: 3px;
   font-weight: 800;
}

.left-top-mid-last{
	padding-left: 20px;
	padding-bottom: 20px;
	font-weight: 500px;
}

.pointsleftdownmin{
	font-size: 12px;
	padding-top: 3x;
}

.contents{
	max-width: 600px;
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	width: 100%;
	border-radius: 10px;
}

.contents-head{
	padding-left: 20px;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
}

.profile-img{
	padding-right: 5px;
}

.profileimage{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.profile-name{
	display: flex;
	flex-direction: column;
}

.names{
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.desc{
	color: black;
	opacity: 0.7;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.description{
	padding-left: 20px;
	display: inline-block;
	line-height: 20px;
}

.contents-image{
    display: flex;
    align-items: center;
}

.content-imgs{
	flex: 1;
	padding-left: 0px;
    width: 500px;
}

.contents-footer{
  padding-top:10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.foot{
	padding-left: 5px;
	padding-top:10px;
	padding-right:10px;
    padding-bottom: 10px;
    border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
}

.foot:hover{
	background: #EBEBEB;
}

.emoj{
	padding-left: 5px;
	font-size: 15px;
}



















